/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #B0AAC2; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #F2EFE8;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */
header, footer {
  background: #C2D4D8;
}

aside {
  background: #B0AAC2;
}

figure{
  background: #DBE9D8;
}
/* --- add your PSEUDO CLASSES below this line --- */
a:link {color: #FF1E0D;
}
a:visited {color: #680600;
}
a:focus {outline-color: #FF6559;
}
a:hover {color: #D3190B;
}
a:active {color: #C000AE;
}
